
/* Configuración del cuerpo */
body {
  background-color: rgb(12, 12, 12);
}

@font-face {
  font-family: capitalis;
  src: local("./fuentes/CapitalisTypOasis.tff");
}

/* Configuración de párrafos */
p {
    color: white;
    text-align: center;
    font-family: sans-serif;
  }

/* Configuración de títulos grandes */
h1{
    color: white;
    text-align: center;
    font-family: capitalis;
    font-size: 50;
    


}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(78, 78, 78);
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  
  
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #c9c900;
  color: white;
  
}

/* Configuración de tabla */

td{
  padding: 2em;
}